In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/row_cases.csv")
df.head()

,Unnamed: 0,State/UT,Budget per capita on judiciary (₹) (2020–21),Population per High Court Judge (2022),Population per Lower Court Judge (2022),Courthall shortfall (%) (2022),Case clearance rate of High Court (2022),Case clearance rate of Lower Court (2022)
0,0,India,146,1765760,71224,14.7,95,89.000000
1,1,Andaman and Nicobar Islands (UT),337,1833444,30923,NaN,121,76.000000
2,2,Andhra Pradesh,145,1765733,109673,- 4.0,73,90.000000
3,3,Arunachal Pradesh,199,1681917,44229,36.6,90,91.828571
4,4,Assam,99,1681917,82274,13.4,90,72.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 8 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    37 non-null     int64
 1   State/UT                                      37 non-null     object
 2   Budget per capita on judiciary (₹) (2020–21)  37 non-null     int64
 3   Population per High Court Judge (2022)        37 non-null     int64
 4   Population per Lower Court Judge (2022)       37 non-null     int64
 5   Courthall shortfall (%) (2022)                36 non-null     object
 6   Case clearance rate of High Court (2022)      37 non-null     int64
 7   Case clearance rate of Lower Court (2022)     37 non-null     float64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.4+ KB

In [8]:
df.isnull().sum()

Unnamed: 0                                      0
State/UT                                        0
Budget per capita on judiciary (₹) (2020–21)    0
Population per High Court Judge (2022)          0
Population per Lower Court Judge (2022)         0
Courthall shortfall (%) (2022)                  1
Case clearance rate of High Court (2022)        0
Case clearance rate of Lower Court (2022)       0
dtype: int64

In [10]:
df.shape

(37, 8)